        </div><!-- .wrapper -->
    <!--DO NOT REMOVE-->
    {% pattern-lab-foot %}

    <script src="../../bower_components/jquery/dist/jquery.js"></script>
    <script src="../../bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="../../bower_components/angularjs/angular.js"></script>
    <script src="../../bower_components/d3/d3.js"></script>
    <script src="../../bower_components/c3/c3.js"></script>
    <script src="../../bower_components/topojson/topojson.js"></script>
    <script src="../../bower_components/jquery-highlighttextarea/jquery.highlighttextarea.js"></script>
    <script src="../../js/main.js"></script>

    </body>
</html>