{{> organisms-header }}


<div class="wrappert cf js--wrappert">
    <div class="wrappert__cell">
        {{> organisms-giftie }}
    </div>
    <div class="wrappert__cell">
        <div class="fullscreen  fullscreen--giftie  js--giftie">
            <div class="fullscreen__center  text--center">
                <h1 class="giga">ALS EEN MALLE</h1>
            </div>
        </div>
    </div>
</div>

            <button id="authorize-button" class="login__button  button">Login</button>

<div class="dash-body  js--body">
    {{> organisms-charts-thingie }}
</div>
