/*----------------------------------------------------------------------------*\
    $VARS
    Any variables you find set in blocss’ `_defaults.scss` that you do not wish
    to keep, simply redefine here. This means that if blocss, for example,
    sets your `$base-font-size` at 16px and you wish it to be 14px, simply
    redeclare that variable in this file. Blocss ignores its own variables
    in favour of using your own, so you can completely modify how blocss
    works without ever having to alter the framework itself.
\*----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------*\
    $OVERRIDES
    Place any variables that should override blocss’ defaults here.
\*----------------------------------------------------------------------------*/

/*  Typography
\*----------------------------------------------------------------------------*/

$face-base: "Proxima", sans-serif !default;
$face-icon: "feather"!default;

/*  Responsive
\*----------------------------------------------------------------------------*/

$breakpoints: (
    'lap'       '(min-width: 480px)',
    'desk'      '(min-width: 960px)'
);





/*----------------------------------------------------------------------------*\
    $CUSTOM
    Place any of your own variables that sit on top of blocss here.
\*----------------------------------------------------------------------------*/

/*  Colors
\*----------------------------------------------------------------------------*/

$black: #000000 !default;
$gray-a: #373737 !default;
$gray-b: #afafaf !default;
$white: #ffffff !default;
$brand: #009774 !default;
$brand-sec: #7fcbb9 !default;


/*  Durations
\*----------------------------------------------------------------------------*/

$default-duration: .2s;
$default-duration-medium: .4s;
$default-duration-long: .6s;