<header class="masthead">
    <div class="retain">
        <div class="grid  grid--middle  grid--narrow">
            <div class="grid__cell u-auto">
                {{> atoms-logo }}
            </div>
            <div class="grid__cell u-auto">
                / Dashboard
            </div>
        </div>

        <div class="login">

            <button id="authorize-button" class="login__button  button">Login</button>

            <div id="jsloginvisual" class="login__visual  visuallyhidden  js--login-visual">
                <div class="arrange  arrange--gutter  arrange--middle">
                    <div class="arrange__size-fill  text--right">
                        Roel Vaessen<br>
                        <span class="milli">ixxi design</span>
                    </div>
                    <div class="arrange__size-fit">
                        <img src="../../images/roelvaessen.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</header><!-- .header -->