<header class="masthead">
    <div class="retain">
        <div class="grid  grid--middle">
            <div class="grid__cell u-auto">
                {{> atoms-logo }}
            </div>
            <div class="grid__cell u-auto">
                / Dashboard
            </div>
        </div>
    </div>
</header><!-- .header -->