@charset "UTF-8";
/*----------------------------------------------------------------------------*\
    $D3
\*----------------------------------------------------------------------------*/

.c3-chart-arc path {
    stroke: transparent;
}

.c3-legend-item text {
    stroke: $white;
}

[class*="c3-line-"] {
    stroke-width: 5px;
}
