@charset "UTF-8";
/*----------------------------------------------------------------------------*\
    $MASTHEAD
\*----------------------------------------------------------------------------*/

.masthead {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    @include rem(padding, $space-half 0);
    background-color: $black;
    z-index: 100;
}