<div class="giftie  js--giftie__wrap">
    <form class="arrange  js--giftie__form">
        <div class="arrange__size-fill">
            <div class="giftie__input-wrap">
                <input type="text" class="giftie__input  input  input--text  js--giftie__input" placeholder="Welke resultaten wil je bekijken?">
            </div>
        </div><!-- .arrange__size-fill -->
        <div class="arrange__size-fit">
            <button type="submit" class="giftie__gift-dan  button">
                <i class="giftie__gift-dan__icon  icon-reply"></i>
            </button>
        </div><!-- .arrange__size-fit -->
    </form><!-- .arrange -->
</div><!-- .giftie -->