<div class="giftie">
    <div class="arrange">
        <div class="arrange__size-fill">
            <input type="text" class="giftie__input  input  input--text" placeholder="gift ie al?">
        </div>
        <div class="arrange__size-fit">
            <button type="submit" class="giftie__gift"></button>
        </div>
    </div>
</div>