<div class="fullscreen  fullscreen--giftie  js--giftie">
    <div class="fullscreen__center">
        <div class="sign--large  text--center">
            <img src="../../images/logo-ixxi.svg" alt="" class="logo--brand">
        </div>
        {{> molecules-giftie }}
    </div><!-- .giftie__form -->
</div><!-- .giftie -->