<div class="retain  retain--separated  sign--large">
    <div class="grid  grid--wide">
        <div class="grid__cell  u-4-12--desk">
            <div class="text--center  sign">
                <h3>Bestellingen<br>per provincie</h3>
            </div>
            <div id="js--map"></div>
        </div>
        <div class="grid__cell  u-4-12--desk">
            <div class="text--center sign">
                <h3>type<br>bezoekers</h3>
            </div>
            <div class="js--pie"></div>
        </div>
        <div class="grid__cell  u-4-12--desk">
            <div class="text--center sign">
                <h3>Henk<br>de vries</h3>
            </div>
            <div class="js--bar"></div>
        </div>
    </div>
</div>