<div class="retain  retain--separated  sign--biggie">
    <div class="grid  grid--wide">
        <div class="grid__cell  u-4-12--desk">
            <div class="text--center  sign">
                <h3>Bestellingen<br>per provincie</h3>
            </div>
            <div id="js--map"></div>
        </div>
        <div class="grid__cell  u-4-12--desk">
            <div class="text--center sign">
                <h3>type<br>bezoekers</h3>
            </div>
            <div class="js--pie"></div>
        </div>
        <div class="grid__cell  u-4-12--desk">
            <div class="text--center sign">
                <h3>Sessies en<br>% nieuwe bezoekers</h3>
            </div>
            <div class="js--bar"></div>
        </div>
    </div>
</div>

<div class="retain  text--center">
    <img src="../../images/rest_of_dash.png" alt="" style="width: 100%;">
</div>