<div class="retain  retain--separated  sign--biggie">
    <div class="grid  grid--wide">
        <div class="grid__cell  u-4-12--desk">
            <div class="sjart">
                <div class="text--center  sign">
                    <h3>Bestellingen<br>per provincie</h3>
                </div>
                <div id="js--map"></div>
                <button class="button  sjart__add"><i class="icon-plus"></i></button>
            </div>
        </div>
        <div class="grid__cell  u-4-12--desk">
            <div class="sjart">
                <div class="text--center sign">
                    <h3>type<br>bezoekers</h3>
                </div>
                <div class="js--pie"></div>

                <button class="button  sjart__add"><i class="icon-plus"></i></button>
            </div>
        </div>
        <div class="grid__cell  u-4-12--desk">
            <div class="sjart">
                <div class="text--center sign">
                    <h3>Sessies en<br>% nieuwe bezoekers</h3>
                </div>
                <div class="js--bar"></div>
                <button class="button  sjart__add"><i class="icon-plus"></i></button>
            </div>
        </div>
    </div>
</div>

<div class="retain  text--center  sign--biggie">
    <img src="../../images/rest_of_dash.png" alt="" style="width: 100%;">
</div>

<div class="retain  text--center  sign--biggie">
    <button class="button  button--large">Generate highlight report <i class="icon-arrow-down" style="margin-left: 10px;"></i></button>
</div>