@charset "UTF-8";
/*----------------------------------------------------------------------------*\
    $RETAIN
\*----------------------------------------------------------------------------*/

.retain {
    position: relative;
    @include rem(padding, 0 $space-half);
    margin: 0 auto;
}


.retain--separated {
    &:before,
    &:after {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 2px;
        background-color: $gray-b;
        content: " ";
    }
    &:before {
        left: (100%/3);
    }
    &:after {
        left: ((100%/3)*2);
    }
}


.wrappert {
    width: 200%;
    transition: transform $default-duration-medium;
    &.is-shifted {
        transform: translateX(-50%);
    }
}

.tooltip {
    display: none;
}
    .wrappert__cell {
        width: 50%;
        float: left;
    }


.login {
    position: absolute;
    top: 50%;
    @include rem(right, $space-half);
    transform: translateY(-50%);
}

.sign--biggie {
    @include rem(margin-bottom, $space*4);
}


.button {
    @include rem(border-radius, $space-half/2);
    text-transform: uppercase;

    &:hover {
        background-color: $brand;
        border-color: $brand;
    }

    letter-spacing: .1em;
}


.sjart {
    position: relative;

    &:hover {
        .sjart__add {
            display: block;
        }
    }
}
    .sjart__add {
        position: absolute;
        top: 0;
        @include rem(right, $space);
        z-index: 50;
        padding-left: .5em;
        padding-right: .5em;
        display: none;
    }